---
layout: default
---

{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include menu.html %}
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include back-link.html %}
{% else %}

{% endif %}

<main class="home" id="main" role="main" aria-label="Content">

  <h1 class="content-title divided">
    {% if site.paginate and site.paginate_path and paginator.page > 1 %}
      Page {{ paginator.page }}
    {% else %}
      Poems
    {% endif %}
  </h1>

  {% for post in site.posts %}
    {% if post.categories contains 'letters' %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>    {% endif %}
  {% endfor %}



</main>
